@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
header {
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0px;
    z-index: 1;
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	color: black;
}

a {
    color: black !important; 
    text-decoration: none !important; 
}

body{
	font-family: "Inter", sans-serif;
	}
	
.logo img {
    width: 35%; /* Reduz a largura da imagem para uma % do tamanho original */
    height: auto; /* Mantém a proporção da altura */
}

/*delimitação classe container*/
.container{
	max-width:2500px;
	padding: 0 5%;
	margin: 0 auto;
}

/*classes do site*/
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
	
}

/*Organizando o menu*/
.ul{
	display: flex;
	align-items: center;
}

.ul li{
	margin:0 30px;
	font-size: 17px;
}

.btn {
	padding: 15px 15px;
	color: white;
	border: none;
    border-radius: 5px;
	cursor: pointer;
	background-color: sienna;
    font-size: 16px
}

.btn:hover {
    background-color: rgb(117, 61, 34); /* Cor de fundo ao passar o mouse */
}

/*painel*/
.painel {

}

.painel img {
	display: flex;
    width: 100%; /* Ajusta a imagem para preencher o painel */
    height: 800px; /* Mantém a proporção da imagem */
  }  
  
/*EVENTOS*/
 .eventos {
    display: flex;
	padding: 50px;
    height: 720px;
    text-align: center;
    background-color: rgb(252, 218, 203);
}

.eventos .cards {
	padding: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card {
    border: none;
    background-color: rgb(252, 218, 203);
}

.eventos p {
    margin-top: 15px;
    font-size: 16px;
}

.eventos-button{
    margin-top: 20px; /* Espaço acima do botão */
    padding: 18px 20px; /* Espaçamento interno do botão */
    background-color: sienna;
    color: white; /* Cor do texto do botão */
    border: none; /* Sem borda */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor em forma de mão ao passar o mouse */
    font-size: 16px;
}

.eventos-button:hover {
    background-color: rgb(117, 61, 34); /* Cor de fundo ao passar o mouse */
}


/* Horários */

.horarios {
	display: flex;
    width: 100%;
    padding: 50px;
	text-align: center;
}


.horarios p{
    margin: 3px 5px;
    text-align: left;
    font-size: 15px;
    padding: 15px 15px;
    transition: 0.3s;
}
    
.cards{
    padding: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
    
.horarios-cards {
    background-color: rgb(252, 218, 203);
    margin: 15px;
    border-radius: 15px;
    text-align: center;
    width: 350px;
    height: 325px;
    transition: 0.3s;
}

.icon-title {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1.5px solid sienna;
    font-size: 16px;
    justify-content: center;
}

h3 {
    font-size: 20px;
    color: #010101;
    margin-top: 10px;
}

.icons {
    margin-right: 15px;
    transition: 0.3s;
}

.horarios .horarios-cards:hover{
    background-color: rgb(255, 209, 188);;
    margin-top: -10px;
}

/* Sobre */

.sobre {
    background-color:  rgb(252, 218, 203);
    text-align: center;
    padding: 50px;
}

.sobre-content {
    display: flex; /* Cria um layout flexível */
    align-items: center; /* Alinha verticalmente os itens */
    padding: 50px;
}

.sobre-content img {
    max-width: 450px; /* Define um tamanho máximo para a imagem */
    margin-right: 20px; /* Espaço entre a imagem e o texto */
    border-radius: 10px;
}

.sobre-text {
    flex: 100%; /* Faz o texto ocupar o restante do espaço */
    padding: 50px;
    text-align: left;
}

.sobre-button {
    margin-top: 20px; /* Espaço acima do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    background-color: #80462b;
    color: white; /* Cor do texto do botão */
    border: none; /* Sem borda */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor em forma de mão ao passar o mouse */
    font-family: "Inter", sans-serif;
    font-size: 15px;
}

.sobre-button:hover {
    background-color: #b37153; /* Cor de fundo ao passar o mouse */
}

/* Galeria */
.galeria {
    padding: 50px;
	margin-top: 100px; 
    text-align: center;
}

.galeria-imagens {
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.imagem-card img {
    margin: 20px 0 20px 0;
    width: 100%;
    height: auto;
    border-radius: 10px;
}
/* Footer */
footer {
	
	display: flex; /* Para posicionar os itens lado a lado */
    justify-content: space-between; /* Espaço entre os elementos */
    padding: 20px; /* Margem interna de 20px */
    background-color: sienna; /* Cor de fundo para visualização */
}

.endereco, .footer-content {
    margin: 0 80px; /* Margem de 20px dos dois lados */
}

.endereco {
    flex: 1; /* O endereço ocupa a primeira parte (esquerda) */
    text-align: left; /* Alinhar o texto à esquerda */
}

.footer-content {
    flex: 1; /* A área de conteúdo do rodapé ocupa a segunda parte (direita) */
    text-align: right; /* Alinhar os ícones das redes sociais à direita */
}

.footer-content .social-media a img {
    width: 30px; /* Tamanho dos ícones */
    margin-left: 80px; /* Espaço entre os ícones */
}

